body{
    margin:0;
    font-size:25px;
    color:#3a3992;
    line-height: 1.5;
}

#Intro{
    text-align:center;
}
#indexpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    height:100vh;
}